@use '../../assets/styles/variables' as v;

.layout {
  @apply min-h-screen;
  background: v.$notion-bg-primary;

  .dark & {
    background: v.$notion-dark-bg-primary;
  }

  &__container {
    @apply lg:ml-64 flex flex-col h-screen;
  }

  &__main {
    @apply flex-1 overflow-auto;
    background: v.$notion-bg-secondary;
    min-height: fit-content;
    height: calc(100dvh - 3.5rem - 4rem);

    .dark & {
      background: v.$notion-dark-bg-secondary;
    }
  }

  &__overlay {
    @apply fixed inset-0 z-50 flex items-center justify-center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
  }
}
