@use '../../assets/styles/variables' as *;

.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;

  &__result {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
  }

  // Permite que los botones con `block` dentro de Link ocupen 100% en mobile
  a {
    display: block;
  }
}
